* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(111, 108, 108);
    color: rgb(0, 255, 242);
}

#main {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

#profile {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 197, 197);;
    margin: 20px;
}

input {
    margin: 10px;
    padding: 5px 10px;
}

button {
    margin: 20px 10px;
    padding: 5px 35px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: red;
}

span {
    cursor: pointer;
    color: white;
}

p {
    margin: 10px;
    color: black;
}