* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F5F8;
    padding: 0px 10px 20px 10px;
}

#section_title {
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    margin: 20px 5px 30px;
}

#h1-outline {
    display: block;
    width: 43px;
    height: 0px;
    border: 2px solid #46A4E9;
}

#section-main {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px 25px 10px;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 0px;
    box-shadow: 10px -5px 2px #309deb;
}

#parenthesis {
    position: relative;
    top: 30px;
    right: 35px;
    background-color: #309deb;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

#parenthesis p  {
    padding: 0;
    padding-top: 18px;
    margin: 0;
    font-size: 3rem;
    color: white;
}

h5 {
    letter-spacing: 5px;
    margin: 3px;
}

h6 {
    font-family: sans-serif;
    font-size: 9px;
    color: #46A4E9;
}

p {
    margin: 10px 0px;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 3px 10px;
    border-radius: 10px;
    border: 1px solid #309deb;
    color: #309deb;
    background-color: rgb(235, 252, 254);
    cursor: pointer;
}

#buttons button {
    border: none;
    background-color: white;
    font-weight: bold;
}